#image-preview {
  display: none;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin-top: 10px;
}

.card-img-custom {
  padding-top: 20px;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-text {
  height: 80px;
  position: static;
  text-align: center;
  padding: 10px;
}
