<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
  {% include 'head.html' %}

  <!-- BODY -->
  <body>
    <!-- NAVBAR -->
    {% include 'navbar.html' %}

    <div class="container vh-100">
      <div class="row justify-content-center mt-5 text-center">
        <div class="col mb-3">
          <h1>Jaga Kesehatan Cabai Rawitmu dengan Deteksi Dini!</h1>
        </div>
      </div>
      <div class="row justify-content-center mt-2 text-center">
        <div class="col-4">
          <div
            id="carouselExampleCaptions"
            class="carousel slide align-self-center"
            data-bs-ride="carousel"
            data-bs-interval="2000"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="d-flex justify-content-center">
                  <div class="card">
                    <img
                      src="../static/image/slide-1.png"
                      class="card-img-top card-img-custom"
                      alt="First Slide"
                    />
                    <div class="card-body">
                      <p class="card-text">
                        Deteksi penyakit dan hama melalui ambil gambar lewat
                        kamera handphone, atau mengunggah gambar.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-flex justify-content-center">
                  <div class="card">
                    <img
                      src="../static/image/slide-2.png"
                      class="card-img-top card-img-custom"
                      alt="Second Slide"
                    />
                    <div class="card-body">
                      <p class="card-text">
                        Dapatkan informasi budidaya tanaman cabai rawit
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-flex justify-content-center">
                  <div class="card">
                    <img
                      src="../static/image/slide-3.png"
                      class="card-img-top card-img-custom"
                      alt="Third Slide"
                    />
                    <div class="card-body">
                      <p class="card-text">
                        Dapatkan informasi hama dan penyakit yang mungkin
                        menyerang tanaman cabai rawit
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-flex justify-content-center">
                  <div class="card">
                    <img
                      src="../static/image/slide-4.png"
                      class="card-img-top card-img-custom"
                      alt="Fourth Slide"
                    />
                    <div class="card-body">
                      <p class="card-text">
                        Dapatkan informasi terkait obat-obatan untuk kebutuhan
                        tanaman cabai rawit
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <div class="row justify-content-center align-items-center text-center">
        <div class="col-12 col-lg-6 mb-3 order-2">
          <a
            href="#"
            class="btn mt-5"
            style="background-color: #003f00; color: #ffffff; font-size: 20px"
            data-bs-toggle="modal"
            data-bs-target="#uploadModal"
          >
            Deteksi Sekarang
          </a>
        </div>
      </div>

      <div class="row justify-content-center">
        <div
          class="col-6 card m-3 border-0"
          style="box-shadow: 0 0 10px #005f0095"
        >
          <div class="card-body">
            <div class="d-flex align-items-center border-0">
              <div style="height: 70px">
                <img
                  src="../static/image/history.png"
                  alt=""
                  style="height: 100%"
                />
              </div>
              <div class="ps-3"><h5>History</h5></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      {% include 'pop-up.html' %}
    </div>
  </body>
  <!-- JS BOOTSTRAP -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>

  <!-- MY OWN JS -->
  <script>
    function previewImage(event) {
      var reader = new FileReader();
      reader.onload = function () {
        var output = document.getElementById("image-preview");
        output.src = reader.result;
        output.style.display = "block";
      };
      reader.readAsDataURL(event.target.files[0]);
    }
  </script>
</html>
